:root {
    --primary-color: #8A7FFF;
    --white: #FFFFFF;
    --background-color: #FEFAE0;
    --text-color: #333333;
}

body {
    font-family: Arial, sans-serif;
    background-color: var(--background-color);
    color: var(--text-color);
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}